
  footer {
    color: #868c96;
    border-top: 1px solid #353c46;
    max-width: 600px;
    margin: 0 12px;
    margin-top: 1em;
  }
  
  footer p {
    padding: 40px 0;
    text-align: center;
  }
  
  footer img {
    width: 44px;
  }
 
  