@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #ff0042;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #ff0042;
}
.content {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
}
.question-section{
  text-align: center;
}
.answer-section{
  display:grid;
}
.answer-section button{
  width: 50%;
  padding: 8px;
  margin: 8px auto 8px auto;
  border-radius: 25px;
  border-color:#ff0042;
}
.article-content{
  margin-top: 12px;
  margin-bottom: 12px;
}
.article-content ul{
  list-style-type: none;
}
.article-content li{
  padding-top: 10px;
}
.btn-TakeATest{
  padding: 6px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 8px;
  margin-left: 12px;
  border: 2px solid #ff0042;
}
.instruction-section, .result-section{
  text-align: center;
}
.instruction-section button, .instruction-div button{
  width: 20%;
}
.instruction-section button, .instruction-div{
  margin: 8px;
  padding: 6px;
}
.result-section{
  height: 100px;
  background: #ff0042;
  color: #f3f1ef;
  border-radius: 10px;
  vertical-align: middle;
  padding-top: 70px;
}
@media only screen and (max-width: 600px) {
    .navbar, .content, footer{
      width: 100%;
    }
}
